.kt-avatar {
  position: relative;
  display: inline-block;
}

.kt-avatar .kt-avatar__holder {
  width: 250px;
  height: 250px;
  border-radius: 3px;
  background-repeat: no-repeat;
  background-size: cover;
}

.kt-avatar .kt-avatar__upload {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.kt-avatar .kt-avatar__upload input {
  width: 0 !important;
  height: 0 !important;
  overflow: hidden;
  opacity: 0;
}

.kt-avatar .kt-avatar__upload i {
  color: #5d78ff;
  font-size: 0.9rem;
}

.kt-avatar .kt-avatar__upload:hover {
  transition: all 0.3s;
  background-color: #5d78ff;
}

.kt-avatar .kt-avatar__upload:hover i {
  color: #ffffff;
}

.kt-avatar .kt-avatar__cancel {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: auto;
  right: -10px;
  bottom: -5px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
  display: none;
}

.kt-avatar .kt-avatar__cancel i {
  transition: all 0.3s;
  color: #74788d;
  font-size: 0.9rem;
}

.kt-avatar .kt-avatar__cancel:hover i {
  transition: all 0.3s;
  color: #5d78ff;
}

.kt-avatar.kt-avatar--changed .kt-avatar__cancel {
  display: flex;
}

.kt-avatar.kt-avatar--brand .kt-avatar__upload i {
  color: #5d78ff;
}

.kt-avatar.kt-avatar--brand .kt-avatar__upload:hover {
  background-color: #5d78ff;
}

.kt-avatar.kt-avatar--brand .kt-avatar__upload:hover i {
  color: #ffffff;
}

.kt-avatar.kt-avatar--light .kt-avatar__upload i {
  color: #ffffff;
}

.kt-avatar.kt-avatar--light .kt-avatar__upload:hover {
  background-color: #ffffff;
}

.kt-avatar.kt-avatar--light .kt-avatar__upload:hover i {
  color: #282a3c;
}

.kt-avatar.kt-avatar--dark .kt-avatar__upload i {
  color: #282a3c;
}

.kt-avatar.kt-avatar--dark .kt-avatar__upload:hover {
  background-color: #282a3c;
}

.kt-avatar.kt-avatar--dark .kt-avatar__upload:hover i {
  color: #ffffff;
}

.kt-avatar.kt-avatar--primary .kt-avatar__upload i {
  color: #5867dd;
}

.kt-avatar.kt-avatar--primary .kt-avatar__upload:hover {
  background-color: #5867dd;
}

.kt-avatar.kt-avatar--primary .kt-avatar__upload:hover i {
  color: #ffffff;
}

.kt-avatar.kt-avatar--success .kt-avatar__upload i {
  color: #0abb87;
}

.kt-avatar.kt-avatar--success .kt-avatar__upload:hover {
  background-color: #0abb87;
}

.kt-avatar.kt-avatar--success .kt-avatar__upload:hover i {
  color: #ffffff;
}

.kt-avatar.kt-avatar--info .kt-avatar__upload i {
  color: #5578eb;
}

.kt-avatar.kt-avatar--info .kt-avatar__upload:hover {
  background-color: #5578eb;
}

.kt-avatar.kt-avatar--info .kt-avatar__upload:hover i {
  color: #ffffff;
}

.kt-avatar.kt-avatar--warning .kt-avatar__upload i {
  color: #ffb822;
}

.kt-avatar.kt-avatar--warning .kt-avatar__upload:hover {
  background-color: #ffb822;
}

.kt-avatar.kt-avatar--warning .kt-avatar__upload:hover i {
  color: #111111;
}

.kt-avatar.kt-avatar--danger .kt-avatar__upload i {
  color: #fd397a;
}

.kt-avatar.kt-avatar--danger .kt-avatar__upload:hover {
  background-color: #fd397a;
}

.kt-avatar.kt-avatar--danger .kt-avatar__upload:hover i {
  color: #ffffff;
}

.kt-avatar.kt-avatar--circle .kt-avatar__holder {
  border-radius: 50%;
}

.kt-avatar.kt-avatar--circle .kt-avatar__upload {
  right: 0px;
  top: 5px;
}

.kt-avatar.kt-avatar--circle .kt-avatar__cancel {
  right: 3px;
  bottom: 10px;
}

.kt-avatar.kt-avatar--outline .kt-avatar__holder {
  border: 3px solid #ffffff;
  box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.1);
}

.kt-radio-inline {
  padding: 0 0;
}

.kt-radio-inline .kt-radio {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 5px;
}

.kt-radio-inline .kt-radio:last-child {
  margin-right: 0;
}

.form-group.row .kt-radio-inline {
  margin-top: 0.75rem;
}

.form-group.row .kt-radio-list {
  margin-top: 2px;
}

.w-94 {
  width: 94%
}

.kt-svg-icon g [fill] {
  fill: #5d78ff; }